.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  text-align: center;
}

img {
  max-width: 100%;
}
li{
  list-style-type:none;
}