.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 16px;
  border: none;
  background-color: #032541;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: gray;
  cursor: not-allowed;
}
